.content-section {
  width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 138px 1fr;
  padding: 92px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border: none;
}

.header__address {
  padding: 8px 0 0 360px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.header__address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  height: 757px;
  padding: 165px 50px 0;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lots {
  padding: 180px 50px 0;
}

.lots__content {
  display: flex;
  gap: 25px;
}

.card {
  color: #fff;
  width: 430px;
  height: 450px;
  background-size: cover;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.card__left {
  background-image: url(../images/card-lot-01.jpg);
}

.card__center {
  background-image: url(../images/card-lot-02.jpg);
}

.card__right {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  padding: 100px 50px 0;
  display: flex;
}

.about__image-section {
  width: 885px;
  background-color: #000;
  border-radius: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 50px;
}

.footer__menu {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 48px;
}
